@font-face {
  font-family: "CuprumRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CuprumRegular/Cuprum-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CuprumRegular/Cuprum-Regular.woff") format("woff"), url("../fonts/CuprumRegular/Cuprum-Regular.ttf") format("truetype"); }
